page-list-places {
    ion-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        ion-item{
            width: calc(50vw - 24px) !important;
            height: calc(50vw - 24px);
            border: none !important;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
            margin-bottom: 16px !important;

            ion-title {
                position: relative;
                font-size: 1.0em;
                font-weight: bold;
                color: rgb(17, 14, 14);
            }

            ion-card {
                position: relative;
                text-align: center;
            }
            
            .card-title {
                position: absolute;
                top: 36%;
                font-size: 2.0em;
                width: 100%;
                font-weight: bold;
                color: rgb(17, 14, 14);
            }
            
            .item-inner {
                border: none !important;
            }
        }
    }
}
